<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343129270576-gj40d9de6rkg0q00bct8p8cea8hof4tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343129270576-gj40d9de6rkg0q00bct8p8cea8hof4tc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343129270576-hcsm0ji3cjc4lfndacu8s0r3mgk05lor.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAECXOmRrpZSPdYOpih9AtSNtqLeiFHyes</string>
	<key>GCM_SENDER_ID</key>
	<string>343129270576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octramarket.luthfullahiApp</string>
	<key>PROJECT_ID</key>
	<string>luthfullahi-new</string>
	<key>STORAGE_BUCKET</key>
	<string>luthfullahi-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343129270576:ios:5fe155bd8c7cc9796900f5</string>
</dict>
</plist>